
.bookItem {
    margin: 0 auto;
    padding: .5rem 1rem;
    background-color: whitesmoke;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    
}

.bookItem img {
    width: auto;
    margin: 1rem auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.bookInfo {
    margin: 1rem 0;
}

.bookInfo div {
    margin: 1rem 0;
    padding: 0 1rem;
}

.title{
    font-weight: bold;
}

.spinner {
    display: flex;
    justify-content: center;
    margin: 3rem auto;
}

.backBtn button {
    padding: .5rem;
    border: none;
    width: 100px;
    height: 50px;
    color: #ffffff;
    background: #838f88;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.backBtn button:hover {
    background: #4c534f;
}

@media (min-width: 768px) {
    .bookItem {
        width: 90%;
    }
}

@media (min-width: 1200px) {
    .bookItem {
        width: 80%;
    }
}

@media (min-width: 1400px) {
    .bookItem {
        width: 70%;
        justify-content: space-between;
    }
}