.mainOuter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.searchForm {
    margin: 1rem 0;
}

.searchForm input {
  margin-right: 5px;
  padding: 0.25rem 0.5rem;
  border: 1px solid rgb(219, 231, 255);
  box-shadow: 0px 0px 2px rgb(126, 168, 252);
  outline: rgb(219, 231, 255);
}

.searchForm button {
  cursor: pointer;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  border: 1px solid rgb(160, 190, 250);
  background-color: rgb(219, 231, 255);
  font-weight: bold;
}

.searchForm button:disabled {
    cursor: default;
    background-color: rgb(231, 232, 235);
    border: 1px solid rgb(231, 232, 235);
  }

  .searchForm button:disabled:hover {
    background-color: rgb(231, 232, 235);
    color: rgba(16, 16, 16, 0.3);
  }
  
  .searchForm button:hover {
    background-color: rgb(126, 168, 252);
    border: 1px solid rgb(219, 231, 255);
    color: white;
  }
  .searchForm button:active {
    background-color: rgb(160, 190, 250);
    border: 1px solid rgb(126, 168, 252);
    color: white;
  }

  .selection {
    display: flex;
    margin: 1rem;
  }

  .selection select {
    margin: .5rem 1rem .5rem .5rem;
    padding: 0.2rem;
    border: 1px solid rgb(219, 231, 255);
    box-shadow: 0px 0px 2px rgb(126, 168, 252);
    outline: rgb(219, 231, 255);
  }