.bookList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.fetchMoreBtn {
        margin: 1rem 1rem 1rem;
        padding: .5rem;
        border: none;
        width: 150px;
        height: 50px;
        background-color: rgb(126, 168, 252);
        border: 1px solid rgb(219, 231, 255);
        color: white;
        font-weight: bold;
        font-size: larger;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        transition: 0.2s;
    }
    .fetchMoreBtn:hover {
        background-color: rgb(219, 231, 255);
        color: black;
    }

.booksNumber {
    margin-top: .5rem;
}